attrs==19.1.0
blis==0.2.4
certifi==2019.6.16
chardet==3.0.4
cymem==2.0.2
idna==2.8
jsonschema==3.0.1
murmurhash==1.0.2
numpy==1.16.4
oauthlib==3.0.2
plac==0.9.6
preshed==2.0.1
pyrsistent==0.15.2
PySocks==1.7.0
requests==2.22.0
requests-oauthlib==1.2.0
six==1.12.0
spacy==2.1.4
srsly==0.0.7
thinc==7.0.4
tqdm==4.32.2
tweepy==3.7.0
urllib3==1.25.3
wasabi==0.2.2
